@font-face { font-family: ubuntu; src: url('Ubuntu-Regular.ttf'); } 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ubuntu, sans-serif;
    line-height: 19px;
    white-space: nowrap
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(https://images.hdqwalls.com/download/umbrella-rain-anime-girl-4k-rg-3840x2400.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background: linear-gradient(to right, #ff77cd, #87adfe);
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: medium;
    margin: 5px auto;
    font-weight: bold;
}
.profile-card{
    background: rgba(255,255,255,0.2);
    text-align: center;
    padding: 60px 60px;
    color: #fff;
    position: relative;
    border-radius: 20px;
    margin: 20px 10px;
    float:top;
}
.profile-pic{
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 5px;
    margin-bottom: 21px;
}
h1{
    margin-bottom: 20px;
}
a{
    color: #fff;
    text-decoration: none;
}
.wrap{
    flex-direction: column;
}
.mobile{
    display: none;
}
@media only screen and (max-width: 820px) {
    .wrap{
        display: none;
    }
    .mobile{
        display: block;
    }
}
