/* Eerie Black : #232020 */
/* Platinum : #E5E5E5 */
/* Congo Pink : #F38A7C */
/* Shimmering Blush : #DC758F */
/* Persian Orange : #D68C45 */
* {
    padding: 0;
    margin: 0;
    border: 0;
    color: #E5E5E5;
    background-color: #232020;
    font-family: Sans-Serif;
    charset=utf-8;
}
/* Background */
#header {
    background-image: url();
    height: 100vh;
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Navbar */
.navbar-container {
    position: absolute;
    margin: 20px;
    padding: 0.5vh;
    width: auto;
    height: auto;
    border-radius: 10vh;
}
.navbar-list {
    overflow: hidden;
    border-radius: 10vh;
}
.navbar-list a {
    float: left;
    text-align: center;
    padding: 1vh 1vh;
    text-decoration: none;
    font-size: 2vh;
    border-radius: 10vh;
}
.navbar-list a:hover:nth-of-type(1) {
    background-color: #E5E5E5;
    color: #232020;
}
.navbar-list a:hover:nth-of-type(2) {
    background-color: #F38A7C;
    color: #232020;
}
.navbar-list a:hover:nth-of-type(3) {
    background-color: #DC758F;
    color: #232020;
}
.navbar-list a:hover:nth-of-type(4) {
    background-color: #D68C45;
    color: #232020;
}
/* Wave */
.header-border {
    background-color: rgba(35, 32, 32,0);
    bottom: 0;
    position: absolute;
}
.down-button {
    transform: rotate(45deg);
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    margin: 0 0 3px 4px;
    width: 4vh;
    height: 4vh;
    position: absolute;
    right: 4vh;
    bottom: 4vh;
    background: rgba(0, 0, 0, 0);
}
/* Content */
#content {
    position: relative;
    text-align: center;
    align-items: center;
    font-size: 150%;
    margin-bottom: 10vh;
    margin: 5vw 5vw;
}
.content-title {
    font-size: 5em;
    padding: 5vh;
    margin: auto;
    max-width: 100vh;
    font-weight: bold;
}
.content-subtitle {
    font-size: 2.5em;
    padding: 2vh;
    margin: auto;
    max-width: 100vh;
}
.content {
    margin: auto;
    max-width: 100vh;
    text-decoration: none;
}
a.content:hover {
    color: #D68C45;
}
/* Grid (about) */
.blur {
    background: rgba(229, 229, 229, 0.7);
    height: 99.8%;
    width: 100%;
}
.grid-name {
    align-items: center;
    text-align: center;
    top: 20vh;
    color: #232020;
    font-size: 6vh;
    position: relative;
    background-color: rgba(35, 32, 32,0);
    font-weight: bold;
    transform: translateY(-50%);
}
.grid {
    display: grid;
    align-items: center;
    text-align: center;
    grid-row-gap: 10vh;
    grid-template-columns: auto auto auto;
    top: 40vh;
    position: relative;
    background-color: rgba(35, 32, 32,0);
    color: #232020;
    font-size: 3vh;f
    grid-template-columns: repeat(3, minmax(0, 1fr));
    transform: translateY(-50%);
}
.grid-item {
    background-color: rgba(35, 32, 32,0);
    color: #232020;
    font-weight: bold;
    text-align: center;
}
@media screen and (max-width: 1000px) {
    .grid {
        grid-template-columns: none;
        grid-row-gap: 1vh;
    }
}
